<div class="container-fluid">
    <app-screen-header [show]="true" [firstLetter]="'C'" [title]="'ART LIST'"></app-screen-header>
    <hr>
    <div class="row">
        <div class="total-price mt-4 text-center my-3" *ngIf="cartItems.length !== 0">
            <h3>Total Price: <span class="text-success mx-2">{{ totalPrice | currency:'USD' }}</span></h3>
          </div>
      <div class="col-md-3 col-sm-6" *ngFor="let item of cartItems" >
        <div class="card d-flex flex-column justify-content-between align-items-center my-2 mx-1"
          style="width: 22rem; height: 640px;">
          <img [src]="item.image" class="card-img-top" (click)="navigateToDetails(item.id,item)" alt="product poster" style="height: 320px;cursor: pointer;">
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text"> {{ item.description }} </p>
            <div class="d-flex align-items-baseline justify-content-between">
              <p>{{ item.price }}$</p>
              <div class="votes">
                <div>
                  <span class="mx-1">{{ item.rating.rate }}</span>
                  <i class="fa-solid fa-star text-warning" *ngFor="let star of getRatingArray(item.rating.rate)"></i>
                </div>
                <div>
                  <i class="fa-regular fa-eye text-primary fs-5 pe-2"></i>
                  <span>{{ item.rating.count }}</span>
                </div>
              </div>
            </div>
            <button pButton class="btn btn-danger w-100 mt-2" type="button" (click)="removeFromCart(item.id)">
              <i class="pi pi-trash"></i> Remove From Cart
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6  mx-auto mt-5 pt-5" *ngIf="cartItems.length == 0">
        <img src="../../../assets/images/vecteezy_ecommerce-shopping-trolly-flat-concept-design_16073190.jpg" width="300" alt="" srcset="">
        <p class="fs-3 mx-5 px-2" style="display: block !important;">Cart is Empty</p>
      </div>
    </div>
  </div>
  