@mixin position {
  display: flex;
  align-items: center;
}
.header {
  h2 {
    color: #0e1740 !important;
    font-size: 29px !important;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif !important;
    span {
      position: relative;
    }
  }
  @include position;
  justify-content: space-between;
  .header-Btns {
    @include position;
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 0.5rem;
    .crud {
      @include position;
      justify-content: center;
      flex-direction: column;
    }
    .vertical_lign {
      background-color: #a0a3b1;
      width: 1px;
      height: 25px;
    }
    .setting-btn {
      background-color: transparent !important;
      border: none !important;
      color: #0e1740 !important;
    }
  }
}

h2 span::after {
  content: "";
  background-color: #301e67;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0%;
  top: 100%;
  border-radius: 5px;
}

.fav {
  background-color: #f5f9f9;
  button{
    padding: 10px 10px;
  }
}

button {
  position: relative;
}

.cart-count {
  position: relative;
  top: -16px;
  right: 19px;
  // z-index: 33333;
  background-color: #ff3b3b;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 7px;
  border-radius: 30%;
  display: inline-block;
}
