<footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">
        <img src="../../../../assets/images/ef824ee86efb3ec6cc6eb6758cd5e70c.jpg" alt="Company Logo" width="150px" class="my-2">
      </div>
      
      <div class="footer-links">
        <div class="footer-links-column">
          <h4>Company</h4>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        
        <div class="footer-links-column">
          <h4>Customer Service</h4>
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Order Tracking</a></li>
            <li><a href="#">Returns</a></li>
            <li><a href="#">Shipping Info</a></li>
          </ul>
        </div>
  
        <div class="footer-links-column">
          <h4>Follow Us</h4>
          <ul class="social-media-links">
            <li><a href="#"><i class="fab fa-facebook mx-1"></i> Facebook</a></li>
            <li><a href="#"><i class="fab fa-twitter mx-1"></i> Twitter</a></li>
            <li><a href="#"><i class="fab fa-instagram mx-1"></i> Instagram</a></li>
            <li><a href="#"><i class="fab fa-youtube mx-1"></i> YouTube</a></li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>&copy; 2024 E-Commerce. All Rights Reserved.</p>
    </div>
  </footer>
  